body {
  background-color: var(--white);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --white: #fff;
  --blue: #4f63ff;
  --red: #ff005c;
  --green: #28b759;
  --navy: #182655;
  --gray-1: #9ba1b5;
  --gray-2: #666666;
  --gray-3: #7e7e7e;
  --gray-4: #939496;
  --offwhite: #f2f2f2;
  --border-color: #9ba1b540;
  --gap: 10px;
}

.App {
  display: flex;
  height: 100vh;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-1 {
  flex: 1;
}

.justify-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.items-end {
  align-items: flex-end;
}

.flex-row {
  flex-direction: row;
}

.wgi-card {
  --bg-color: var(--white) fff;
  --tab-text-color: var(--gray-1);
  --tab-active-text-color: var(--navy);
  --tab-bg-color: var(--offwhite);

  width: 353px;
  min-height: 112px;
  background: var(--bg-color);
  font-family: "Avenir", "Helvetica Neue", "Gill Sans", sans-serif;
  border-radius: 5px;
  user-select: none;
  box-shadow: 0px 5px 20px rgba(210, 216, 236, 0.3);
  overflow: hidden;
}

.wgi-card,
.wgi-card .wgi-progress-bar,
.wgi-card footer button {
  transition: all 0.15s ease-in;
}

.wgi-card.dark {
  --bg-color: #27292d;
  --gray-2: var(--white);
  --tab-text-color: var(--gray-4);
  --tab-active-text-color: var(--white);
  --tab-bg-color: #383b40;
}

.wgi-card.up {
  --surge-color: var(--red);
  --surge-shadow: rgba(187, 53, 53, 0.5);
}

.wgi-card.down {
  --surge-color: var(--green);
  --surge-shadow: rgba(53, 187, 99, 0.5);
}

.wgi-card > section {
  padding: 1rem;
  display: grid;
  grid-gap: var(--gap);
  grid-template:
    "header header" auto
    "percentage progress" auto
    "... source" 10px / 1fr max(100px);
  flex: 1;
}

.wgi-card.minimal > section {
  grid-template:
    "header" auto
    "percentage" auto
    "progress" 10px / 1fr;
}

.wgi-card section > header {
  grid-area: header;
}

.wgi-card .source {
  grid-area: source;
}

.wgi-card .wgi-caption {
  grid-area: header;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 0.6rem;
  color: var(--gray-3);
}

.wgi-card .percentage {
  grid-area: percentage;
}

.wgi-card .p-progress {
  grid-area: progress;
  align-self: center;
}

.wgi-card .percentage > p {
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  margin: 0;
  line-height: 30px;
  margin-right: var(--gap);

  color: var(--blue);
}

.wgi-card .percentage > span {
  font-size: 0.875rem;
  color: var(--surge-color);
}

button {
  cursor: pointer;
  outline: none;
}

.wgi-card .ghost-btn {
  appearance: none;
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
}

.wgi-card .source {
  color: var(--gray-1);
  font-weight: 100;
  margin-bottom: 0;
  margin-top: 0;
}

.wgi-card .source span {
  font-size: 0.5rem;
  margin-left: 7px;
  font-weight: 300;
}

.arrow {
  width: 10px;
  height: 10px;
  display: inline-block;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  background: var(--surge-color);
}

.wgi-card.down .arrow {
  transform: rotate(180deg);
}

.wgi-card .wgi-progress-bar-footer {
  width: auto;
  margin-right: -10px;
  transform: translateY(15px);
  margin-left: -10px;
}

.wgi-card footer {
  border-top: solid 0.2px var(--border-color);
}

.wgi-card footer > button {
  flex: 1;
  text-align: center;
  padding: 10px 15px;
  color: var(--tab-text-color);
  border: none;
  background-color: transparent;
  margin: 0;
}

.wgi-card footer > button.active {
  color: var(--tab-active-text-color);
  background-color: var(--tab-bg-color);
}

.wgi-card footer > button:not(:last-child) {
  border-right: solid 0.2px var(--border-color);
}

/** Progress Bar **/
.wgi-progress-bar {
  background-color: var(--tab-bg-color);
  border-radius: 3px;
  height: 5px;
  position: relative;
  width: 100%;
}

.wgi-progress-bar > .handle {
  display: inline-block;
  background: var(--white);
  width: 5px;
  height: 5px;
  position: absolute;
  border-radius: 10px;
  top: 0;
  transform: translate(-50%, -25%);
  border: 3px solid var(--surge-color);
  box-shadow: 0px 2px 10px var(--surge-shadow);
}

.wgi-progress-bar > span {
  display: block;
  background-color: var(--surge-color);
  height: 5px;
  width: 0%;
  border-radius: 5px;
  transition: width 0.3s ease-in-out 1s;
}

/** Layout Shifts **/
.wgi-card.minimal .source {
  display: none;
}

.wgi-card.minimal footer {
  display: none;
}

.wgi-card.compact footer {
  display: none;
}
